


// --------------------------------------- *\
  // Base Layout and grid
// --------------------------------------- */

body {
  background: #ffffff;
  font-family: $primary-font;
  color: $primary-colour;
}

.page-decor {
  display: none;
  position: absolute;
  max-width: 100%;

  @media (min-width: $medium-break) {
    display: block;
  }
}

.section {
  padding: 50px 0;
}

a {
  font-size: 24px;
  color: $primary-colour;
}

// Utilities
// Padding
.u-padding--t-50 {
  padding-top: 25px;
}

.u-padding--t-200 {
  padding-top: 100px;
}

.u-padding--b-100 {
  padding-bottom: 50px;
}

.u-padding--y-50 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.u-padding--y-100 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.u-padding--y-200 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.u-padding--x-100 {
  padding-left: 50px;
  padding-right: 50px;
}

// Margin
.u-margin--y-100 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-margin--t-50 {
  margin-top: 25px;
}

.u-margin--t-100 {
  margin-top: 50px;
}

.u-margin--b-50 {
  margin-bottom: 25px;
}

.u-margin--b-100 {
  margin-bottom: 50px;
}

.u-margin--l-50 {
  margin-left: 50px;
}

.u-margin--l-100 {
  margin-left: 100px;
}

.u-position--absolute {
  position: absolute;
}

// Position, display and rotate
.u-position--relative {
  position: relative;
}

.u-display--inline-block {
  display: inline-block;
}

.u-rotate--90deg {
  transform: rotate(90deg);
}
