

// --------------------------------------- *\
  //Project Mixins
// --------------------------------------- */

// Clear after floats
@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

// Apply clearfix
.clearfix {
  @include clearfix;
}

@mixin box-shadow($a, $b, $c, $d) {
  box-shadow: $a $b $c $d rgba($black, 0.2);
}

@mixin border($side, $colour) {
  border-#{$side}: 1px solid $colour;
}

@mixin position($position-y, $position-x) {
  @include min-width($medium-break) {
    position: absolute;
    #{$position-y}: 0;
    #{$position-x}: 0;
  }
}

// Responsive mixins
@mixin min-width($res) {
  @media screen and (min-width: $res) {
    @content;
  }
}

@mixin max-width($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-height($res) {
  @media screen and (min-height: $res) {
    @content;
  }
}

@mixin max-height($res) {
  @media screen and (max-height: $res) {
    @content;
  }
}

@mixin min-max($res, $res2) {
  @media screen and (min-width: $res) and (max-width: $res2) {
    @content;
  }
}
