<footer class="footer u-padding--y-100 u-margin--t-100 u-text--center">
  <a href="https://www.twitter.com/katgrog" target="_blank" rel="noopener noreferrer">Twitter</a>
  <a href="https://github.com/katgrog" target="_blank" rel="noopener noreferrer">Github</a>
  <a href="https://instagram.com/katgrog" target="_blank" rel="noopener noreferrer">Instagram</a>
</footer>

<%= render 'shared/scripts' %>
