<footer class="footer text-center">
  <a href="https://www.twitter.com/katgrog" target="_blank">Twitter</a>
  <a href="https://github.com/katgrog" target="_blank">Github</a>
  <a href="https://instagram.com/katgrog" target="_blank">Instagram</a>
</footer>

<%= render 'shared/scripts' %>
