<header class="header text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
        <div class="header-text">
          <h1>Hello,<br>I'm <span class="text-underline">Katie</span></h1>
        </div>
      </div>
    </div>
  </div>
</header>
