


// ---------------------------------------
  // Font base
// ---------------------------------------

h1, h2, h3 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-family: $primary-font;
  font-size: 72px;
  font-weight: 700;
}

h2 {
  font-family: $primary-font;
  font-size: 56px;
}

p {
  font-size: 24px;
  margin: 15px 0;
}

a {
  color: $detail-copy-colour;
  text-decoration: underline;
}

// Override h1 styling when in a section
section {
  h1 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  p{
    color: #425C7A;
  }
}
