


// ---------------------------------------
  // Font base
// ---------------------------------------

h1, h2, h3 {
  margin: 0;
  line-height: 1.2;
}

h1 {
  font-family: $primary-font;
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-family: $primary-font;
  font-size: 56px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 24px;
  margin: 15px 0;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #9E68FF;
}

// Override h1 styling when in a section
section {
  h1 {
    font-size: 42px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
  }
}
