


// ---------------------------------------
  // Type utilities
// ---------------------------------------

.u-text--center {
  text-align: center;
}

.u-text--bold {
  font-weight: 700;
}

.u-position--absolute {
  position: absolute;
}

.u-position--relative {
  position: relative;
}

.u-display--inline-block {
  display: inline-block;
}

.u-rotate--90deg {
  transform: rotate(90deg);
}
