<!DOCTYPE html>
<html>
  <div class="page-border--top"></div>
  <header class="header u-padding--y-100">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12">
          <h1 class="u-text--bold">Hello</h1>
          <h2 class="u-text--bold">It's me, Katie!</h2>
        </div>
      </div>
    </div>
  </header>

  <section class="section">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <h1 class="u-margin-b-100">
          </h1>
        </div>
      </div>
    </div>
  </section>


  <%= render 'shared/footer' %>
</html>
