


// --------------------------------------- *\
  // Footer styling
// --------------------------------------- */

.footer {
  background: #fafafa;

  a {
    display: block;
    padding: 50px 65px;

    &:hover {
      color: #46BEAD;
    }

    @media (min-width: $medium-break) {
      display: inline-block;
    }
  }
}
