


// --------------------------------------- *\
  // Footer styling
// --------------------------------------- */

.footer {
  background: $background-colour;

  a {
    display: inline-block;
    padding: 25px 50px;
  }
}
