


// --------------------------------------- *\
  // Header styling
// --------------------------------------- */

.header {
  background-color: $primary-colour;
  color: white;
}

.header-link {
  display: inline-block;
  padding: 25px 0;
  color: white;
}

.waving-hand {
  animation: spin 0.5s linear;
}
