


// --------------------------------------- *\
  // Header styling
// --------------------------------------- */

.header {
  background-color: $primary-colour;
  color: white;
}

.header-link {
  display: inline-block;
  padding: 25px 0;
  color: white;
}

.waving-hand {
  cursor: pointer;
  padding: 5px 7px 0 7px;
  animation: spin 0.5s 2;
}

.waving-hand:hover {
  outline: 2px solid #426CFF;
}

.teehee {
  display: none;
  margin-top: 10px;
  padding: 7px;
  background: #161B39 ;

  &.show {
    display: block;
  }
}
