


// --------------------------------------- *\
  // Header styling
// --------------------------------------- */

.header {
  background-color: $primary-font-colour;
  color: white;
}

.header-link {
  display: inline-block;
  padding: 25px 0;
  color: white;
}

.waving-hand {
  animation-name: jump;
  animation-duration: 1s;
}
