


/* --------------------------------------- *\
  #Random Styling
\* --------------------------------------- */

.company-details {
  margin-top: 35px;
  
  @media (min-width: $medium-break) {
    border-right: 1px dashed $decoration-colour;  
    display: inline-block;
    width: 450px;
    padding-top: 40px;
  }
}

.company-role {
  border-bottom: 1px dashed $decoration-colour;
  padding-bottom: 50px;
  
  @media (min-width: $medium-break) {
    border-bottom: none;
    display: inline-block;
    padding-left: 50px; 
    padding-bottom: 0;
  }
}

.company-logo {
  width: 50px;
  border-radius: 100px;
  margin-bottom: 15px;
}

.doggo-img {
  width: 100%;
  border-radius: 500px;
  margin: 20px 0 25px 0;
  padding: 10px;
}

.doggo-img:hover {
  border-radius: 500px;
  background: #4FCEBC;
}
